$first-quad: #b7fab7;
$green: green;

$second-quad: #FDFD96;
$gold: gold;

$third-quad: #FF9999;
$red: #990000;

$fourth-quad: skyblue;
$blue: #2A52BE;

$meter-top:  rgb(43,194,83);

$white: white;

$danger: red;
$danger2: #FF8000;